# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CarbonFootprint.iml
# Datasource local storage ignored files
/../../../../../../../../:\Fontys\Prof\CarbonFootprint\CarbonFootprint\.idea\.idea.CarbonFootprint\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
